<li id="event-<%= event.id %>">
  <span class="event"><%= link_to event.creator.name, event.creator %></span>
  <span class="name"><%= event.name %></span>
  <span class="description"><%= event.description %></span>
  <span class="dateofevent"><%= event.dateofevent %></span>
  <span class="location"><%= event.location %></span>


  <span class="timestamp">
    Posted <%= time_ago_in_words(event.created_at) %> ago.
  </span>
</li>