<div class="row">
<aside class="col-md-12">
<section class="user_info">

<h1>All Events (<%= @events.count %>)<span><%= link_to "Create new", new_event_path %></span></h1>

  <div class="events">
      <% @events.each do |event| %>
      <div class="event">
          <span class="name"><%= link_to event.name%></span>
          <span><%= event.creator.name %></span>
          <span class="description"><%= event.description %></span>
          <span class="dateofevent">Date: <%= event.dateofevent %></span>
          <span class="location">Location: <%= event.location %></span>


          <span class="timestamp">
              Posted <%= time_ago_in_words(event.created_at) %> ago.
          </span>
      </div>
      <% end %>
  </div>

  </section>
  </aside>
</div>

 
