

  <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Private-Events", root_url, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_url %></li>
        <% if current_user %>
          <li><%= link_to current_user.name, current_user %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
